h1 
  .u-subheader How to
  | Web Design
p A best-practice guide<br />for the modern web designer
p by 
  a.c-inline-link(href="https://www.twitter.com/dazsnow", title="Follow me on Twitter") Darryl Snow
  br
  a.c-inline-link(href="https://yourweb.expert", title="Visit my website")
    small https://yourweb.expert

p
  small Version 1.0.0 | June 2016