h3
  .u-subheader The Web Design Process
  | Mood Boards

p &ldquo;Things that can be explored in the mood board include photography style, color palettes, typography, patterns, and the overall look and feel...&rdquo;

p
  a(href="http://www.webdesignerdepot.com/2008/12/why-mood-boards-matter/", title="") Web Designer Depot: Why Mood Boards Matter