h3
  .u-subheader The Web Design Process
  | Mood Boards

p &ldquo;The mood board is intentionally casual; it lets the designer start with broad strokes and get feedback before too much time is invested in the wrong direction. Think of it as rapid visual prototyping.&rdquo;

p
  a(href="http://www.webdesignerdepot.com/2008/12/why-mood-boards-matter/", title="") Web Designer Depot: Why Mood Boards Matter