h3
  .u-subheader Web Design Challenges
  | Pace of Change

ul
  li New tools and techniques released literally
    strong &nbsp;every day
  li Developers have to stay up to date
  li ..but so must designers!

p Remember, web design = code, so new code techniques = new design techniques