h3
  .u-subheader The Web Design Process
  | Typography - Typographic Hierarchy

p HTML provides us with 6 levels of headers: h1, h2, h3, h4, h5, h6

p Search engine bots & screen readers require that we use them correctly