h3
  .u-subheader The Web Design Process
  | Typography - Typographic Hierarchy

p 1 h1 per page

p h2s underneath h1, h3s underneath h2s&hellip; etc.

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://webdesign.tutsplus.com/articles/understanding-typographic-hierarchy--webdesign-11636", title="Learn more about typographic hierarchy at Tutsplus") Understanding Typographic Hierarchy