h3
  .u-subheader
    .u-subheader The Web Design Process
    | Typography - Base Typographic Styles
  | Headers

p Sizes should be set according to a
  strong &nbsp;modular scale&nbsp;
  | :

blockquote
  p A series of harmonious values for font sizes, to help with readability and user experience

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://www.modularscale.com/", title="Learn more about modular scale") Modular Scale
    li
      a(href="http://webdesign.tutsplus.com/articles/how-to-establish-a-modular-typographic-scale--webdesign-14927", title="Learn more about modular scale at Tutsplus") How to Establish a Modular Typographic Scale