h3
  .u-subheader
    .u-subheader The Web Design Process
    | Typography - Base Typographic Styles
  | Headers

p Browsers give headers
  strong &nbsp;bottom margins&nbsp;
  | by default! You should specify your own margins according to your
  a(href="/#/baseline-grid-1", title) &nbsp;baseline grid