h3
  .u-subheader The Web Design Process
  | Typography - Base Typographic Styles

p Default styles should be set for each:

ul
  li all page text (&ldquo;body&rdquo; styles)
  li headers
  li paragraphs
  li links
  li buttons
  li lists