h3
  .u-subheader Web Design Challenges
  | Interactivity

p Device capabilities may change or impact the content and layout for different users

p How do design this?

p How to communicate these design ideas?