h3
  .u-subheader The Web Design Process
  | Typography - Typography for Custom Components

p
  a(href="/#/font-styles-1", title="Go back to the slide about font styles") Font styles
  | &nbsp;should be specified for all text-containing elements