h3
  .u-subheader The Web Design Process
  | Style Tiles

p &ldquo;Style Tiles are similar to the paint chips and fabric swatches an interior designer gets approval on before designing a room.&rdquo;

.c-further-reading
  p Further reading: 
  ul
    li
      a(href="http://styletil.es/", title="Visit the Style Tiles website") http://styletil.es/
    li
      a(href="http://alistapart.com/article/style-tiles-and-how-they-work", title="Read the A List Apart article 'Style Tiles and How they Work'") Style Tiles and How they Work