h3
  .u-subheader The Web Design Process
  | Style Tiles

ul
  li Small, medium-fidelity component mockups that indicate the visual style
  li Like wireframes with styles added
  li It's in style tiles that you might play with colours, typography, and base styles
  li Can be made in a mockup tool or directly in code