h3
  .u-subheader Web Design Challenges
  | Code Constraints

ul
  li Document flow
  li CSS
  li Native form controls & inputs
  li Performance
  li and many, many,
    strong &nbsp;many&nbsp;
    | more!