h3
  .u-subheader Web Design Challenges
  | Code Constraints

h6.u-align--left Native Form Controls & Inputs

ul
  li Default styling is different across browsers
  li Custom styling is difficult
  li Custom styling may break
    a(href="/#/accessibility-1", title="Go to the slide about Accessibility")
      strong &nbsp;accessibility
    | !
  li Design must be approached carefully, and must be tested!