h3
  .u-subheader The Web Design Process
  | Typography - Base Font Size

p Browsers set the base font size at
  strong &nbsp;16px&nbsp;
  | by default

p The base font size may be
  em &nbsp;changed&nbsp;
  | based on the
  em &nbspscreen width

p
  small e.g. 14px on small screens, 16px on larger screens, 20px on very large screens&hellip;