h3
  .u-subheader The Web Design Process
  | Images

p Image formats:

ul
  li 
    strong WEBP
    | &nbsp;- like PNG/JPG but progressively loads
    small (it shows up before it's finished downloading and has better compression - best for performance)
  li 
    strong JPG
    | &nbsp;- compressed raster images
  li 
    strong PNG
    | &nbsp;- compressed raster images with transparency
  li 
    strong GIF
    | &nbsp;- limited colour images, supports animation and progressive loading
  li 
    strong SVG
    | &nbsp;- scalable vector images (solid blocks, shapes, lines)