h3
  .u-subheader The Web Design Process
  | Iteration

p You can avoid the &ldquo;big reveal&rdquo; when presenting to clients

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://medium.com/@darryl.snow/client-account-managers-def4bf2c2076#.1mw1egw0b", title="Read my article 'Client / Account Managers'") Client / Account managers: The Big Reveal