h3
  .u-subheader The Web Design Process
  | Wireframes

p They should be
  strong &nbsp;quick and easy&nbsp;
  | to produce

.c-further-reading
  p Further reading: 
  ul
    li
      a(href="https://medium.com/@darryl.snow/design-guidelines-e07e55a51c08#.md6ibm4j6", title="Read my article on Design Guidelines") Design Guidelines
    li
      a(href="http://webdesign.tutsplus.com/articles/a-beginners-guide-to-wireframing--webdesign-7399", title="Read the TutsPlus article 'A Beginners Guide to Wireframing'") A Beginners Guide to Wireframing