h3
  .u-subheader The Web Design Process
  | Colours

h6 Remember
  a(href="/#/developers-7", title="") &nbsp;DRY
  | ?

p If one colour is simply a variation of another, specify the
  em &nbsp;transformation
  | , not a separate colour

p
  small CSS and CSS-preprocessors can handle colour transformations!