h3
  .u-subheader Web Design Pitfalls
  | Fixed Sizes

p 
  strong.u-uppercase NEVER&nbsp;
  | apply fixed sizes to anything that may contain variable content!!!

p Variable content requires variable sized containers