h3
  .u-subheader Web Design Pitfalls
  | Fixed Sizes

p 
  strong.u-uppercase NEVER&nbsp;
  | specify the size of anything in pixels, unless you are 100% that the size should not vary across device/platform!

p Sizes should be specified in
  strong &nbsp;relative&nbsp;
  | units, relative to the font size