h3
  .u-subheader The Web Design Process
  | Custom Component Styles

p Every web project will have different components, e.g.:

ul.u-small
  li Navbar
  li Notification
  li Hero section
  li Footer
  li Article
  li Breadcrumbs
  li Navigation
  li etc. etc.