h3
  .u-subheader The Web Design Process
  | Custom Component Styles

p Maybe make a&nbsp;
  a(href="/#/style-tiles-1", title="Go to the Style Tiles slide") style tile
  | &nbsp;for each component? &#9786;