h3
  .u-subheader Web Design Challenges
  | Performance
  
p Design should be done iteratively and in collaboration with a developer so that the performance can be 
  strong &nbsp;tested&nbsp;
  | and inform ongoing design decisions
  
.c-further-reading
  ul
    li
      a(href="/#/iteration-1", title="Go to the slide about iteration") Iteration
    li
      a(href="/#/collaboration-1", title="Go to the slide about collaboration") Collaboration