h3
  .u-subheader Web Design Deliverables
  | The Advantages of a Design Style Guide

h6 They encourage consistency

ul
  li Viewing all the styles for the project in one place, you can see how well it all mathches up
  li You can get a good overview of the look and feel without the need for high-fidelity mockups