h3
  .u-subheader Web Design Deliverables
  | The Advantages of a Design Style Guide

h6 They encourage collaboration

p An interactive style guide may be a product of work by:

ul
  li project managers
  li designers
  li front-end developers
  li QA testers
  
p &hellip;all working together