h3 What Next?

p Where to learn more:

ul.u-flex.u-no-margin
  li Blogs
    ul.u-small
      li
        a(href="https://www.smashingmagazine.com/", title="Go to Smashing Magazine") Smashing Magazine
      li
        a(href="https://css-tricks.com/", title="Go to CSS Tricks") CSS Tricks
      li
        a(href="http://alistapart.com/", title="Go to A List Apart") A List Apart
      li
        a(href="https://24ways.org", title="Go to 24 ways") 24 Ways
      li
        a(href="https://www.sitepoint.com/design-ux/", title="Go to Sitepoint") Sitepoint
      li
        a(href="http://bradfrost.com/blog/", title="Go to Brad Frost's Blog") Brad Frost's Blog
  li Podcasts
    ul.u-small
      li
        a(href="http://styleguides.io/podcast/", title="Go to The Style Guide Podcast") The Style Guide Podcast
      li
        a(href="http://shoptalkshow.com/", title="Go to Shoptalk Show") Shoptalk Show
      li
        a(href="http://www.zeldman.com/category/the-big-web-show/", title="Go to the Big Web Show") The Big Web Show
  li Newsletters
    ul.u-small
      li
        a(href="http://responsivedesignweekly.com/", title="Go to Responsive Design Weekly") Responsive Design Weekly
      li
        a(href="https://web-design-weekly.com/newsletter/", title="Go to Web Design Weekly") Web Design Weekly

p
small Many more are available!