h3
  .u-subheader Web Design Challenges
  | Typography

ul
  li Some fonts may not be possible
  li CSS vocabulary is different from traditional typography, creating communication issues
    ul
      li kerning = letter spacing
      li leading = line-height
      li etc.