h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td line-height
      td the height of each line of text, with padding split equally above and below the line (relative unit, e.g. 1.5 = 1.5 * the height of a letter)
    tr
      td text-align
      td left|center|right|justify