h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td text-transform
      td capitalize|uppercase|lowercase
    tr
      td text-shadow
      td a drop shadow: x-offset (px), y-offset(px), blur amount(px), colour