h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td vertical-align
      td how the text aligns with other elements alongside it: bottom|middle|top|baseline
    tr
      td white-space
      td controls how whitespace is handled inside an element: nowrap|pre|prewrap|