h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td direction
      td the writing direction: left|right

blockquote
  small
    strong.u-uppercase Top tip
    | : in CSS you can also limit the width of a text block to the number of characters (e.g. max-width: 80ch) to help make blocks of text easier to read!

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/font", title="Learn more about web typography at MDN") CSS font styles
    li
      a(href="http://reference.sitepoint.com/css/typography", title="Learn more about web typography at Sitepoint") CSS Typography