h3
  .u-subheader The Web Design Process
  | Animation

p CSS can provide lots of animation capability, but is still limited

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations", title="Learn more about CSS animations at MDN") Using CSS Animations