h3
  .u-subheader The Web Design Process
  | Accessibility

p Some general rules:

ul
  li Use gentle colours
  li Use good colour contrast
  li Use readable font sizes
  li Publish all content on the page, not in downloads