h3
  .u-subheader The Web Design Process
  | Accessibility

ul
  li Use a combination of colour, shapes, and text
  li Follow a linear, logical layout
  li Keep buttons and notifications in context (i.e. close to the things they are related to)
  li Provide descriptions for images