h3
  .u-subheader The Web Design Process
  | Accessibility

ul
  li Provide transcripts for videos
  li Be aware of semantic markup and structure
  li Ensure your designs are keyboard accessible
  li Write descriptive links and headings
  li Use images and diagrams to support text
  li Align blocks of text to the left