h3
  .u-subheader The Web Design Process
  | Accessibility

ul
  li Maintain consistent layout & spacing
  li Consider audio/video formats
  li Keep content short, clear, and simple
  li Use simple sentences and bullet lists
  li Make buttons descriptive