h3
  .u-subheader The Web Design Process
  | Typography - Other Font Sizes

p All sizes, especially margins and padding, should be specified in relative units (em)

p
  strong Relative = Scalable


  p
    a(href="/#/fixed-sizes-1", title="Skip ahead to the slide about fixed sizes")
      small Why fixed sizes are bad