h3
  .u-subheader The Web Design Process
  | Typography - Typography for Custom Components

p Every text-containing element inside a component should have a font-size specified in
  strong &nbsp;em&nbsp;
  | (i.e. relative to the component)