h3
  .u-subheader Web Design Challenges
  | Code Constraints

h6.u-align--left Document flow

ul
  li Everything 'flows' &#8628; (L > R, T > B)
  li Order of things can't be easily changed
  li Consider when layout adapts between small & large screens&hellip;
  li Use a
    a(href="/#/", title="Go to the slides about Grid systems")
      strong &nbsp;grid system
    | !