h3
  .u-subheader Web Design Challenges
  | Code Constraints

h6.u-align--left CSS (styling / appearance)

ul
  li Implemented inconsistently on different browsers & platforms
  li Can do a lot, but not everything