h3
  .u-subheader Web Design Challenges
  | Code Constraints

h6.u-align--left Performance

ul
  li More complicated design = more code = worse performance
  
p This has been one of the major drivers of &ldquo;flat design&rdquo;

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://en.wikipedia.org/wiki/Flat_design", title="Go to the Wikipedia article on 'Flat Design'") Flat Design