h3
  .u-subheader Web Design Challenges
  | Code Constraints

h6 Andy many more&hellip;
  
p That's why you should learn about the code!

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://developer.mozilla.org/", title="To the Mozilla Developer Network site") Learn about HTML &amp; CSS at MDN