h3
  .u-subheader The Web Design Process
  | Typography - Typeface

p Decide on a
  strong &nbsp;font-stack&nbsp;
  | - the list of fonts you would like to see, in order of preference, e.g.:

code
  pre Raleway, Helvetica Neue, Helvetica, Lucida Sans, Arial, sans-serif

p
  small This means &ldquo;use Raleway, but if we don't have that font then use Helvetica Neue, but if we don't have that font then use Helvetica...&rdquo; etc.