h3
  .u-subheader The Web Design Process
  | Typography - Typeface

p Provide the typefaces for non-standard fonts

p Font-providers like&nbsp;
  a(href="https://www.google.com/fonts", title="Go to Google Fonts") Google fonts
  | ,&nbsp;
  a(href="https://typekit.com/", title="Go to Typekit") typekit
  | , and&nbsp;
  a(href="https://www.fonts.com/", title="Go to Fonts.com") fonts.com
  sup *
  strong &nbsp;provide links&nbsp;
  | for loading fonts

p
  small
    sup *
    | other providers are available
  
.c-further-reading
  p &ldquo;Non-standard&rdquo; = fonts that aren't already installed on users' devices. Note that different platforms (Windows, Mac OS, iOS, Android, Linux, etc.) may have different fonts installed by default.