h3
  .u-subheader The Web Design Process
  | Typography - Typeface

p Linked fonts quick and easy to implement (happy developers) and fast to load (happy users, happy Google)

p If you can't find a link to the font, then
  strong &nbsp;provide files