h3
  .u-subheader The Web Design Process
  | Typography - Typeface

p Font files should be in WOFF format. Not OTF. Not TTF.
  strong &nbsp;WOFF

p If you don't have the files in WOFF format, then provide a link

p 
  small If you don't have a link or WOFF files then
    strong &nbsp;choose a different typeface
    | !

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://en.wikipedia.org/wiki/Web_Open_Font_Format", title="Read more about WOFF") Wikipedia article on the Web Open Font Format (WOFF)
    li
      a(href="http://caniuse.com/#search=woff", title="Find out which browsers support WOFF") Current browser support for the WOFF file format