h3 Summary

ul
  li Web design is about
    strong &nbsp;re-usable, scalable, and adaptive components
  li The web design industry changes fast!
  li Web designers should understand HTML & CSS
  li Always consider performance, usability, accessibility, and machine-readability