h3 Summary

ul
  li Explain your process & ideas
  li Design systems, not pages
  li Design iteratively, collaboratively, and incrementally
  li Start with wireframes to identify reusable components
  li Decide on colours, a layout grid, and typography