h3 Summary

ul
  li Prepare images and (SVG) icons
  li Design the base elements
  li Design each component separately in your tool of choice
  li After completing each component, send to developer immediately