h3 Summary

ul
  li Test each component in a web browser on a variety of devices and provide feedback for the developer to make changes
  li Avoid high-fidelity page mockups
  li Avoid fixed sizes
  li Deliver a style guide