h3
  .u-subheader Web Design Deliverables
  | The Advantages of a Design Style Guide

h6 They encourage modularity

p You focus on the small building blocks, building them together into more complex components one at a time