h3
  .u-subheader Web Design Deliverables
  | The Advantages of a Design Style Guide

h6 They're easily maintainable

p A design styleguide can be translated directly into CSS, making changes very quick and easy