h3
  .u-subheader Web Design Deliverables
  | The Advantages of a Design Style Guide

h6 They enable better workflow

ul
  li Because you're not working on entire pages but small, reusable components, you can break the work down into small manageable chunks
  li You can design a small component and the developer can build it straight away, then you can test and request immediate changes