h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Large file size
  .u-subheader Mockups are
    span.u-uppercase &nbsp;huge

ul
  li It takes a long time to upload/download them
  li They take up a lot of disk space
  li The contain a lot of redundant data - sections of pages (components) may be unnecessarily included in multiple mockups