h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Time-consuming

ul
  li They take a long time to make
  li While you're making them the developer is idle
  li Updating a mockup is slower than updating code
  li It takes the developer a long time to extract useful information
  li time = money; mockups make the process more expensive