h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 No UX

p
  small Static mockups make it difficult, if not impossible, to convey:

ul
  li Animation
  li Active/Focus/Hover states
  li Form validation states & notifications
  li Interactivity
  li User action sequences

p
  strong CSS makes it easy!