h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Unrealistic

ul
  li The resulting website will
    strong &nbsp;never&nbsp;
    | look the same as the mockup on all devices
  li A mockup is just a
    em &nbsp;picture&nbsp;
    | of a webpage
  li If you're presenting page mockups to clients, you're being dishonest