h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Untestable

ul
  li Mockups are just pictures of websites; you can't load them on different devices and test them or interact with them
  li You can't gather any useful feedback from users or clients