h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Static

p Mockups may look great with the content you paste in, but what about on the live product, with real, dynamic content?