h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Fixed-width

p This makes them
  strong &nbsp;unsuitable&nbsp;
  | for web design

p How big should your canvas be?

p Separate &ldquo;mobile&rdquo;, &ldquo;tablet&rdquo;, and &ldquo;desktop&rdquo; mockups just means more time & money without addressing the problem