h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Developers are not Photoshop experts

ul
  li Developers need to focus their time on coding, not on copying & pasting from mockups, or measuring sizes and trying to calculate the relative units
  li It's not their area of expertise
  li Your design deliverables are supposed to
    strong &nbsp;help&nbsp;
    | developers