h3
  .u-subheader The Web Design Process
  | Base Element Styles

p These are the things likely to be re-used often. Remember&nbsp;
  a(href="/#/developers-7", title="") DRY
  | :
  
ul
  li Buttons
  li Tables
  li Forms & Form Inputs
  li Icons
  li Images