h3
  .u-subheader The Web Design Process
  | Base Element Styles

p Try to
  strong &nbsp;discover, design, and document&nbsp;
  | every possible variation of each of these base elements

img(alt="Base Element Styles example", src="/images/base-element-styles2.png")