h3 Web Design Deliverables

blockquote
  p &ldquo;Tiny Bootstraps, for Every Client&rdquo;
  p
    em &ndash; Dave Rupert

p
  a(href="http://daverupert.com/2013/04/responsive-deliverables/", title="Go to Dave Rupert's article on 'Responsive Deliverables'") Responsive Deliverables