h3 Web Design Deliverables

blockquote
  p &ldquo;Deliverables should look a lot like fully-functioning Twitter Bootstrap-style systems custom tailored for your client&apos;s needs.&rdquo;
  p
    em &ndash; Dave Rupert

p
  a(href="http://daverupert.com/2013/04/responsive-deliverables/", title="Go to Dave Rupert's article on 'Responsive Deliverables'") Responsive Deliverables