h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

p Sounds like you've got a

h6 Client Management Problem

p &hellip; not a design problem&hellip;

p
  small Find a better way to present design ideas to clients!