h3
  .u-subheader 
    .u-subheader Web Design Pitfalls
    | Large High-Fidelity Mockups
  | Why Full-Page Mockups Are Bad

h6 Discourages modularity

ul
  li It forces you to design a whole page, all at once
  li Creating small modules in high-fidelity is an unnecessary step and defeats the purpose of a high-fidelity mockup - to convey the look & feel