h2 What is Design?

p &ldquo;Beautiful solutions for users in specific situations&rdquo;

.c-further-reading
  p Further reading: 
    a(href="https://medium.com/@jlantunez/what-is-design-c4be733141f1#.4vau7b43d", title="Go to José Luis Antúnez's post 'What is Design'") What is Design?