h3
  .u-subheader Who Are We Designing For?
  | Developers

p They need descriptions of the style and behaviour of each component.

p Remember, web design is 
  a(href="/#/what-is-web-design-1", title="Go back to the 'What is Web Design?' slide")
    strong &nbsp;systems, not pages