h3
  .u-subheader Who Are We Designing For?
  | Developers

p Some style guide examples:

ul
  li
    a(href="https://material.google.com/", title="Go to the Material Design styleguide") Google's Material Design
  li
    a(href="http://ux.mailchimp.com/patterns", title="Go to the Mailchimp styleguide") Mailchimp Styleguide
  li
    a(href="http://foundation.zurb.com/sites/docs/", title="Go to the Zurb Foundation docs") Zurb Foundation
  li
    a(href="http://getbootstrap.com/components/", title="Go to the Twitter Bootstrap Docs") Twitter Bootstrap
  li
    a(href="http://styleguides.io/examples.html", title="Go to Styleguides.io") Styleguide.io Examples