h3
  .u-subheader Who Are We Designing For?
  | Developers

p Anything that can be reused, should be reused. Re-use as much as possible. If changes need to be made, make it easier to make those changes by reducing the number of places changes need to be applied