h3
  .u-subheader The Web Design Process
  | Base Element Styles

p Start with the smallest, most basic building blocks that may be used in all other components

img(alt="Base Element Styles example", src="/images/base-element-styles1.png")