h3
  .u-subheader Web Design Challenges
  | Unlimited Canvas

ul
  li A magazine page has a fixed size, e.g. an A4 sheet
  li A web page does not - could be accessed on
    strong &nbsp;any&nbsp;
    | device size from a smartwatch to a billboard and
    strong &nbsp;everything&nbsp;
    | in-between