h3
  .u-subheader Web Design Challenges
  | Unlimited Canvas

ul
  li This means we can't design 'pages'
  li And we can't design fixed sizes 
    small (i.e. no &ldquo;mobile&rdquo;, &ldquo;tablet&rdquo;, &amp; &ldquo;desktop&rdquo; versions - what about the in-betweens?)