h3
  .u-subheader Who Are We Designing For?
  | Users

h6 Usability

ul
  li We need to design something that's
    em &nbsp;easy&nbsp;
    | to use
  li We need to design something that's
    em &nbsp;fun&nbsp;
    | to use