h3
  .u-subheader Who Are We Designing For?
  | Users

h6 Copy

ul
  li Be clear and concise
  li Have a goal in mind before writing
  li Structure content in a logical flow
  li Use typography to build a visual hierarchy