h3
  .u-subheader The Web Design Process
  | Animation

p How to specify animation to a developer?

ul
  li Write down a detailed description
  li Describe it verbally
  li Work together with them and test in the browser