h3
  .u-subheader The Web Design Process
  | Typography - Baseline Grid

p A vertical grid on which text and other elements may be aligned

p Subtly improves readability, scanability, and user experience

p How?