h3
  .u-subheader The Web Design Process
  | Images - Art Direction

ul.u-small
  li Position
  li Size
  li Clipping/Cropping
  li Saturation
  li Brightness
  li Greyscale
  li Contrast
  li Hue
  li Blur
  li Opacity
  li Sepia
  li Colour inversion
  li Borders
  li Drop shadows