h3
  .u-subheader The Web Design Process
  | Specifying Colours

p Provide a colour palette with colours specified in Hex (e.g. #FFFFFF) or RGB (e.g. 255,255,255)

img(alt="Colour Pallette Example", src="/images/colour-palette.png")