h3
  .u-subheader The Web Design Process
  | Specifying Colours

ul
  li lighten(colour, %)
  li darken(colour, %)
  li alpha(colour, %) (transparency/opacity)
  li hue(colour, %)
  li saturation(colour, %)
  li lightness(colour, %)