h3
  .u-subheader Who Are We Designing For?
  | Users

h6 Accessibility

ul
  li We need to design something that can be accessed in as many ways as possible: mouse, keyboard, screen reader, voice control, etc.