h3
  .u-subheader The Web Design Process
  | Empathy

p Try to understand the goals and motivations of others on your team

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://medium.com/@darryl.snow/it-s-all-about-empathy-a30b23bd775a#.9qgf56ooi", title="Read my article 'It's all about Empathy'") It's All About Empathy