h3
  .u-subheader The Web Design Process
  | Icons

h4 Good news!

p You probably don't need to create icons - there are many widely available and multi-purpose SVG icons available online!

p Try browsing&nbsp;
  a(href="https://icomoon.io/", title="Go to IcoMoon") https://icomoon.io/
  | &nbsp;or&nbsp;
  a(href="https://thenounproject.com/", title="Go to the Noun Project") https://thenounproject.com/
  | &nbsp;first!