h3
  .u-subheader What is Design?
  | So What is Web Design?

p it's 
  strong systems, not pages
  
ul
  li print media have fixed size templates for containing content
  li web projects have 
    strong re-usable, scalable, and adaptive components

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://css-tricks.com/design-systems-building-future/", title="Go to the CSS Tricks post 'Design Systems: Building for the Future'") Design Systems: Building for the Future
    li
      a(href="http://bradfrost.com/blog/post/atomic-web-design/", title="Go to Brad Frost's article 'Atomic Web Design'") Atomic Web Design