h3
  .u-subheader The Web Design Process
  | Collaboration

p The line between web design and front-end development is being blurred
p Web designers need to understand front-end code
p Front-end developers need to understand design