h3
  .u-subheader Web Design Pitfalls
  | Large High-Fidelity Mockups

p Remember, we're designing
  a(href="/#/what-is-web-design-1", title="Go back to the slide about 'What is Web Design'")
    strong &nbsp;systems, not pages