h3
  .u-subheader The Web Design Process
  | Custom Component Styles

p Sometimes you may need to take a component out of the&nbsp;
  a(href="/#/code-constraints-2", title="Go back to the slide about document flow") Document Flow
  | &hellip;
  
ul
  li
    strong Absolute position&nbsp;
    | = fixed at a certain point on the page
  li
    strong Fixed position&nbsp;
    | = fixed at a certain point relative to the viewport, even when the user scrolls down

p
  small Both require x and y coordinates