h3
  .u-subheader Web Design Challenges
  | User context

ul
  li What device are they using?
  li What is their internet connection like?
  li Do they have any physical disabilities?
  li etc. etc.

p All of these impact design decisions.