h3
  .u-subheader
    .u-subheader Who Are We Designing For?
    | Clients & Project Owners
  | Presenting Design Ideas

ul
  li
    strong Educate&nbsp;
    | them about your process
  li
    strong Show&nbsp;
    | them the work in progress
  li
    strong Explain&nbsp;
    | your ideas
  li Present 
    strong &nbsp;real prototypes&nbsp;
    | that they can test and provide feedback on, not static and unrealistic full-page mockups
    
    .c-further-reading
      p Further reading: 
        a(href="/#/why-full-page-mockups-are-bad-1", title="Go to the slide about why full-page mockups are bad") Why large high-fidelity full-page mockups are bad