h3
  .u-subheader The Web Design Process
  | Typography - Typeface

p Decide on the main typefaces
p 2-3 type faces
  strong &nbsp;maximum
p
  small (more typefaces = worse performance)

.c-further-reading
  p &ldquo;Typeface&rdquo; = &ldquo;font-family&rdquo; in CSS