h3
  .u-subheader Web Design Challenges
  | Interactivity

p Not just look & feel, but also behaviour:

ul
  li Active/focus/hover states
  li Animation
  li Feedback
  li Location/Orientation/Movement/Language