h3
  .u-subheader Who Are We Designing For?
  | Clients & Project Owners

ul
  li They see everything from preliminary ideas to the end product
  li They care about branding
  li They know their businesses (and users!) best
  li They may not be technical