h3
  .u-subheader Who Are We Designing For?
  | Clients & Project Owners

ul
  li They are influenced by personal preferences&hellip;
  li They're paying.
  li They determine whether the project goes live!
  
p So how to present ideas to them?