h3
  .u-subheader Web Design Challenges
  | Performance
  
p
  small i.e. how fast everything loads
p Google cares about performance
p Users care about performance
p
  strong Performance begins with design