h3
  .u-subheader The Web Design Process
  | Embracing Change

p Stay aware of industry-wide trends

p
  small If you're still working the way you were&nbsp;
    span(style="text-decoration: line-through;") 3 years
    | &nbsp;1 year ago... you're probably doing it wrong...

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://medium.com/@darryl.snow/embracing-change-3850ec4ae0e0#.u7t09zb9o", title="Read my article 'Embracing Change'") Embracing Change