h3
  .u-subheader Who Are We Designing For?
  | Machines

h6 Rich Snippets &amp; Meta Data

p Consider also that there are certain types of content that can be flagged for search engines and other services - try to include such content as much as possible

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://positionly.com/blog/seo/rich-snippets", title="Learn more about Rich Snippets") Rich Snippets
    li
      a(href="https://moz.com/blog/meta-data-templates-123", title="Learn more about meta data") Meta Data