h3
  .u-subheader The Web Design Process
  | Grid Systems

p The definitive layout technique for web design

p
  small A Horizontal system of columns, with optional &ldquo;gutters&rdquo; in between, on which components may be laid out