h3
  .u-subheader The Web Design Process
  | Grid Systems

p Grids provide rhythm and improve usability

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://webdesign.tutsplus.com/articles/all-about-grid-systems--webdesign-14471", title="Learn more about grids at Tutsplus") All About Grid Systems
    li
      a(href="http://www.creativebloq.com/web-design/grid-theory-41411345", title="Learn about Grid Theory at Creativebloq") Grid Theory