h3
  .u-subheader The Web Design Process
  | Grid Systems

p The grid can be adapted at different screen widths (e.g. just 1 or 2 columns on small screens, or different maximum widths)

p
  small Or you can specify how many columns a component should occupy at different screen widths

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://webdesign.tutsplus.com/articles/all-about-grid-systems--webdesign-14471", title="Learn more about grids at Tutsplus") All About Grid Systems
    li
      a(href="http://www.creativebloq.com/web-design/grid-theory-41411345", title="Learn about Grid Theory at Creativebloq") Grid Theory