h3
  .u-subheader The Web Design Process
  | Grid Systems

p
  strong.u-uppercase Never&nbsp;
  | need to specify the width of a component - just specify how many columns the component should occupy

blockquote
  small
    strong.u-uppercase Top tip
    | : when creating mockups, apply lines in the background in order to demonstrate the grid


.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://webdesign.tutsplus.com/articles/all-about-grid-systems--webdesign-14471", title="Learn more about grids at Tutsplus") All About Grid Systems
    li
      a(href="http://www.creativebloq.com/web-design/grid-theory-41411345", title="Learn about Grid Theory at Creativebloq") Grid Theory