h3
  .u-subheader What is Design?
  | What is a Web Project?

ul
  li Anything that encompasses or intersects the web, mobile, and social media
  li Essentially a way of serving
    strong &nbsp;content&nbsp;
    | to end users