h3
  .u-subheader The Web Design Process
  | Accessibility

p Blind people might use screen readers

p Some people might not be able to use a mouse

p Some people are colour blind, dyslexic, autistic, or have a vision impairment