h3 Fin

p Darryl Snow

p
  a(href="https://yourweb.expert", title="Go to my website") https://yourweb.expert

button.c-button.js-buy-me-a-drink-button(type="button") Buy me a drink

script(async="true", crossorigin="anonymous", defer="true", src="https://checkout.stripe.com/checkout.js")