h3 Fin

p Darryl Snow

p
  a(href="https://yourweb.expert", title="Go to my website") https://yourweb.expert

//- form(action="", method="POST")
//- script(class="c-button", data-amount="5", data-description="Widget", data-image="/images/darryl-snow.jpg", data-key="pk_test_K4i3N250qcdeJ9sIy0a09jqY", data-locale="auto", data-name="Darryl Snow", src="https://checkout.stripe.com/checkout.js")

button.c-button(type="button") Buy me a drink