h3
  .u-subheader The Web Design Process
  | Tools

p Wireframing, Style Tiles, Mockups, &amp; Prototypes:

ul.u-small
  li Pen & Paper
  li HTML & CSS (&ldquo;design in the browser&rdquo;)
  li
    a(href="http://www.adobe.com/mena_en/products/indesign.html", title="Go to the Adobe inDesign website") Adobe inDesign
  li
    a(href="http://www.adobe.com/products/experience-design.html", title="Go to the Adobe Experience Design website") Adobe Experience Design
  li
    a(href="https://atomic.io/", title="Go to the Atomic website") Atomic
  li
    a(href="https://azure.microsoft.com", title="Go to the Azure website") Azure
  li
    a(href="https://balsamiq.com/", title="Go to the Balsamiq website") Balsamiq
  li
    a(href="http://macaw.co/", title="Go to the Macaw website") Macaw
  li
    a(href="https://www.omnigroup.com/omnigraffle", title="Go to the Omnigraffle website") Omnigraffle
  li
    a(href="https://facebook.github.io/origami/", title="Go to the Origami website") Origami
  li
    a(href="https://www.sketchapp.com/", title="Go to the Sketch website") Sketch
  li
    a(href="https://webflow.com/", title="Go to the Webflow website") Webflow