h3
  .u-subheader The Web Design Process
  | Tools

p Images

ul.u-small
  li
    a(href="http://www.adobe.com/mena_en/products/illustrator.html", title="Go to the Adobe Illustrator website") Adobe Illustrator
    | &nbsp;(vector images)
  li
    a(href="http://www.adobe.com/mena_en/products/photoshop.html", title="Go to the Adobe Photoshop website") Adobe Photoshop
    | &nbsp;(raster images)

p
  small Obviously, many, many more tools are available!