h2 What this is

ul
  li A broad overview of web design considerations, challenges, processes, deliverables, and pitfalls
  li opinionated!
  li modern best practices
  li bridging the (shrinking) gap between designers and front-end developers