h3 Web Design Deliverables

blockquote
  p &ldquo;These living code samples are self-documenting style guides that extend to accommodate a client&apos;s needs as well as the needs of the ever-evolving multi-device web.&rdquo;
  p
    em &ndash; Dave Rupert

p
  a(href="http://daverupert.com/2013/04/responsive-deliverables/", title="Go to Dave Rupert's article on 'Responsive Deliverables'") Responsive Deliverables