h3 Web Design Deliverables

p
  strong This is a design system!

p You don't need to&nbsp;
  a(href="/#/code-constraints-6", title="Go back to the slide about learning to code") code
  | , but it helps

p You can produce something like this in&nbsp;
  a(href="/#/collaboration-1", title="Go back to the slide about collaboration")
    strong collaboration
  | &nbsp;with a front-end developer

.c-further-reading
  p Further reading:
  ul
    li
      a(href="https://www.smashingmagazine.com/2016/06/designing-modular-ui-systems-via-style-guide-driven-development/", title="Learn more about style guides at Smashing Magazine") Designing Modular UI Systems via Style Guide Driven Development