h3
  .u-subheader Web Design Pitfalls
  | Language &amp; Communication Issues

p Avoid words like &ldquo;mobile version&rdquo; which implies that there are separate versions, or that layouts are created for specific types of devices

p
  strong Web design is device & context agnostic