h3
  .u-subheader Web Design Pitfalls
  | Language &amp; Communication Issues

p Ensure everyone on your team has a shared vocabulary

p E.g. everybody knows what a &ldquo;slider&rdquo; is

.c-further-reading
  p Further reading:
  ul
    li
      a(href="/#/the-advantages-of-a-design-style-guide-2", title="Go back to the slide about how style guides act as a communication tool") The Advantages of a Design Style Guide