h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

p Remember&nbsp;
  a(href="/#/code-constraints-1", title="Go back to the slide about 'code constraints'") code constraints
  | ?

p This is most of what CSS can do with type:

table
  tbody
    tr
      td font-family
      td the name of the typeface or list of typefaces (the &ldquo;font stack&rdquo;)
    tr
      td font-size
      td the size of the font (px|em|rem|%)
