h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td font-weight
      td the thickness, 100-900 (100 = extra light, 400 = normal, 900 = extra bold)
    tr
      td font-style
      td normal|italic|oblique