h3
  .u-subheader The Web Design Process
  | Typography - Font Styles

table
  tbody
    tr
      td letter-spacing
      td the space between letters (px)
    tr
      td word-spacing
      td the space between words (px|em|% of the width of a letter)