h3 How to Contribute

p I happily accept pull-requests on&nbsp;
  a(href="https://github.com/darryl-snow/howtoweb.design", title="Go to the github repo") Github
  | &nbsp;and feedback on&nbsp;
  a(href="https://twitter.com/dazsnow", title="Go to my Twitter profile") Twitter
  | .