h3
  .u-subheader The Web Design Process
  | Typography - Other Font Sizes

p Font sizes
  em &nbsp;may&nbsp;
  | be specified in:

ul
  li
    strong px&nbsp;
    | &ndash; for the base font size
  li
    strong rem&nbsp;
    | &ndash; relative to the base font size
  li
    strong em&nbsp;
    | &ndash; relative to the font size of the parent element
  li
    strong %&nbsp;
    | &ndash; relative to the font size of the parent element