h3
  .u-subheader The Web Design Process
  | Typography - Other Font Sizes

h6 A good strategy:

ul
  li
    strong base&nbsp;
    | font size in 
    strong &nbsp;px
  li each
    strong &nbsp;component&nbsp;
    | has a
    strong &nbsp;rem&nbsp;
    | font size
  li
    strong elements&nbsp;
    | inside each component may have an em font size

p That means everything can
  strong &nbsp;scale&nbsp;
  | easily by changing the base font size, and all sizes remain in proportion