h3
  .u-subheader Web Design Challenges
  | Typography
  
ul
  li Type renders differently on the web compared to other software
  li Text renders differently on different platforms
  li Fonts impact
    strong &nbsp;performance&nbsp;
    | (especially ones with lots of glyphs, e.g. Chinese)