doctype
html(lang="en")
  head
    title How to Web Design
    link(href="main.min.css", rel="stylesheet")
    
    script.
      WebFontConfig = {
        active: function() {
          sessionStorage.fonts = true;
        },
        google: {
          families: ["Raleway:100,300,600"]
        }
      };
      (function() {
        if(sessionStorage.fonts) {
          console.info("Fonts installed");
          document.documentElement.classList.add("wf-active");
        } else {
          console.info("No fonts installed");
        }
      })();

    script(async, defer, src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
    link(rel="preconnect", crossorigin, href="https://fonts.googleapis.com/css?family=Raleway:100,300,600")

  body
    .reveal
      .slides
        section#introduction
          include slides/1
        section#what-is-design
          include slides/what-is-design/1
        section#what-about-graphic-design
          include slides/what-is-design/what-about-graphic-design/1
        section#what-is-a-web-project
          include slides/what-is-design/what-is-a-web-project/1
        section#what-is-web-design-1
          include slides/what-is-design/what-is-web-design/1
        section#what-is-web-design-2
          include slides/what-is-design/what-is-web-design/2
        section#what-is-web-design-3
          include slides/what-is-design/what-is-web-design/3
        section#what-is-web-design-4
          include slides/what-is-design/what-is-web-design/4
        section#what-is-web-design-5
          include slides/what-is-design/what-is-web-design/5
        section#what-is-web-design-6
          include slides/what-is-design/what-is-web-design/6
        section#what-is-web-design-7
          include slides/what-is-design/what-is-web-design/7
        section#web-design-challenges
          include slides/web-design-challenges/1
        section#pace-of-change-1
          include slides/web-design-challenges/pace-of-change/1
        section#pace-of-change-2
          include slides/web-design-challenges/pace-of-change/2
        section#code-constraints-1
          include slides/web-design-challenges/code-constraints/1
        section#code-constraints-2
          include slides/web-design-challenges/code-constraints/2
        section#code-constraints-3
          include slides/web-design-challenges/code-constraints/3
        section#code-constraints-4
          include slides/web-design-challenges/code-constraints/4
        section#code-constraints-5
          include slides/web-design-challenges/code-constraints/5
        section#code-constraints-6
          include slides/web-design-challenges/code-constraints/6
        section#unlimited-canvas-1
          include slides/web-design-challenges/unlimited-canvas/1
        section#unlimited-canvas-2
          include slides/web-design-challenges/unlimited-canvas/2
        section#unlimited-canvas-3
          include slides/web-design-challenges/unlimited-canvas/3
        section#interactivity-1
          include slides/web-design-challenges/interactivity/1
        section#interactivity-2
          include slides/web-design-challenges/interactivity/2
        section#interactivity-3
          include slides/web-design-challenges/interactivity/3
        section#content-1
          include slides/web-design-challenges/content/1
        section#content-2
          include slides/web-design-challenges/content/2
        section#user-context-1
          include slides/web-design-challenges/user-context/1
        section#user-context-2
          include slides/web-design-challenges/user-context/2
        section#user-context-3
          include slides/web-design-challenges/user-context/3
        section#user-context-4
          include slides/web-design-challenges/user-context/4
        section#performance-1
          include slides/web-design-challenges/performance/1
        section#performance-2
          include slides/web-design-challenges/performance/2
        section#performance-3
          include slides/web-design-challenges/performance/3
        section#typography-1
          include slides/web-design-challenges/typography/1
        section#typography-2
          include slides/web-design-challenges/typography/2
        section#device-resolution
          include slides/web-design-challenges/device-resolution/1
        section#who-are-we-designing-for
          include slides/who-are-we-designing-for/1
        section#project-owners-1
          include slides/who-are-we-designing-for/clients-and-project-owners/1
        section#project-owners-2
          include slides/who-are-we-designing-for/clients-and-project-owners/2
        section#how-to-present-ideas-1
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/1
        section#how-to-present-ideas-2(data-background-image="/images/meeting1.jpg")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/2
        section#how-to-present-ideas-3(data-background-image="/images/bad-presentation1.png")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/3
        section#how-to-present-ideas-4(data-background-image="/images/meeting2.jpg")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/4
        section#how-to-present-ideas-5(data-background-image="/images/bad-presentation3.png")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/5
        section#how-to-present-ideas-6(data-background-image="/images/meeting3.jpg")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/6
        section#how-to-present-ideas-7(data-background-image="/images/bad-presentation2.jpg")
          include slides/who-are-we-designing-for/clients-and-project-owners/how-to-present-ideas/7
        section#developers-1
          include slides/who-are-we-designing-for/developers/1
        section#developers-2
          include slides/who-are-we-designing-for/developers/2
        section#developers-3
          include slides/who-are-we-designing-for/developers/3
        section#developers-4
          include slides/who-are-we-designing-for/developers/4
        section#developers-5
          include slides/who-are-we-designing-for/developers/5
        section#developers-6
          include slides/who-are-we-designing-for/developers/6
        section#developers-7
          include slides/who-are-we-designing-for/developers/7
        section#developers-8
          include slides/who-are-we-designing-for/developers/8
        section#developers-9
          include slides/who-are-we-designing-for/developers/9
        section#users-1
          include slides/who-are-we-designing-for/users/1
        section#users-2
          include slides/who-are-we-designing-for/users/2
        section#users-3
          include slides/who-are-we-designing-for/users/3
        section#users-4
          include slides/who-are-we-designing-for/users/4
        section#users-5
          include slides/who-are-we-designing-for/users/5
        section#users-6
          include slides/who-are-we-designing-for/users/6
        section#users-7
          include slides/who-are-we-designing-for/users/7
        section#users-8
          include slides/who-are-we-designing-for/users/8
        section#machines
          include slides/who-are-we-designing-for/machines/1
        section#seo
          include slides/who-are-we-designing-for/machines/seo/1
        section#rich-snippets-and-meta-data
          include slides/who-are-we-designing-for/machines/rich-snippets-and-meta-data/1
        section#the-web-design-process-1
          include slides/the-web-design-process/1
        section#the-web-design-process-2
          include slides/the-web-design-process/2
        section#collaboration-1
          include slides/the-web-design-process/collaboration/1
        section#collaboration-2
          include slides/the-web-design-process/collaboration/2
        section#empathy
          include slides/the-web-design-process/collaboration/empathy/1
        section#embracing-change
          include slides/the-web-design-process/embracing-change/1
        section#iteration-1
          include slides/the-web-design-process/iteration/1
        section#iteration-2
          include slides/the-web-design-process/iteration/2
        section#iteration-3
          include slides/the-web-design-process/iteration/3
        section#iteration-4
          include slides/the-web-design-process/iteration/4
        section#iteration-5
          include slides/the-web-design-process/iteration/5
        section#iteration-6
          include slides/the-web-design-process/iteration/6
        section#iteration-7(data-background-image="/images/mind-blown.gif")
          include slides/the-web-design-process/iteration/7
        section#incremental-design-1
          include slides/the-web-design-process/incremental-design/1
        section#incremental-design-2
          include slides/the-web-design-process/incremental-design/2
        section#incremental-design-3
          include slides/the-web-design-process/incremental-design/3
        section#accessibility-1
          include slides/the-web-design-process/accessibility/1
        section#accessibility-2
          include slides/the-web-design-process/accessibility/2
        section#accessibility-3
          include slides/the-web-design-process/accessibility/3
        section#accessibility-4
          include slides/the-web-design-process/accessibility/4
        section#accessibility-5
          include slides/the-web-design-process/accessibility/5
        section#accessibility-6
          include slides/the-web-design-process/accessibility/6
        section#accessibility-7
          include slides/the-web-design-process/accessibility/7
        section#mood-boards-1
          include slides/the-web-design-process/mood-boards/1
        section#mood-boards-2
          include slides/the-web-design-process/mood-boards/2
        section#mood-boards-3
          include slides/the-web-design-process/mood-boards/3
        section#mood-boards-4
          include slides/the-web-design-process/mood-boards/4
        section#mood-boards-5
          include slides/the-web-design-process/mood-boards/5
        section#wireframes-1
          include slides/the-web-design-process/wireframes/1
        section#wireframes-2
          include slides/the-web-design-process/wireframes/2
        section#wireframes-3
          include slides/the-web-design-process/wireframes/3
        section#wireframes-4
          include slides/the-web-design-process/wireframes/4
        section#wireframes-5(data-background-image="/images/wireframes.jpg")
          include slides/the-web-design-process/wireframes/5
        section#colours-1
          include slides/the-web-design-process/colours/1
        section#colours-2
          include slides/the-web-design-process/colours/2
        section#colours-3
          include slides/the-web-design-process/colours/3
        section#typography
          include slides/the-web-design-process/typography/1
        section#typefaces-1
          include slides/the-web-design-process/typography/typefaces/1
        section#typefaces-2
          include slides/the-web-design-process/typography/typefaces/2
        section#typefaces-3
          include slides/the-web-design-process/typography/typefaces/3
        section#typefaces-4
          include slides/the-web-design-process/typography/typefaces/4
        section#typefaces-5
          include slides/the-web-design-process/typography/typefaces/5
        section#typefaces-6
          include slides/the-web-design-process/typography/typefaces/6
        section#font-styles-1
          include slides/the-web-design-process/typography/font-styles/1
        section#font-styles-2
          include slides/the-web-design-process/typography/font-styles/2
        section#font-styles-3
          include slides/the-web-design-process/typography/font-styles/3
        section#font-styles-4
          include slides/the-web-design-process/typography/font-styles/4
        section#font-styles-5
          include slides/the-web-design-process/typography/font-styles/5
        section#font-styles-6
          include slides/the-web-design-process/typography/font-styles/6
        section#font-styles-7
          include slides/the-web-design-process/typography/font-styles/7
        section#font-styles-8
          include slides/the-web-design-process/typography/font-styles/8
        section#base-font-size-1
          include slides/the-web-design-process/typography/base-font-size/1
        section#base-font-size-2
          include slides/the-web-design-process/typography/base-font-size/2
        section#base-font-size-3
          include slides/the-web-design-process/typography/base-font-size/3
        section#other-font-sizes-1
          include slides/the-web-design-process/typography/other-font-sizes/1
        section#other-font-sizes-2
          include slides/the-web-design-process/typography/other-font-sizes/2
        section#other-font-sizes-3
          include slides/the-web-design-process/typography/other-font-sizes/3
        section#other-font-sizes-4
          include slides/the-web-design-process/typography/other-font-sizes/4
        section#baseline-grid-1
          include slides/the-web-design-process/typography/baseline-grid/1
        section#baseline-grid-2
          include slides/the-web-design-process/typography/baseline-grid/2
        section#baseline-grid-3
          include slides/the-web-design-process/typography/baseline-grid/3
        section#typographic-hierarchy-1
          include slides/the-web-design-process/typography/typographic-hierarchy/1
        section#typographic-hierarchy-2
          include slides/the-web-design-process/typography/typographic-hierarchy/2
        section#typographic-hierarchy-3
          include slides/the-web-design-process/typography/typographic-hierarchy/3
        section#base-typographic-styles-1
          include slides/the-web-design-process/typography/base-typographic-styles/1
        section#base-typographic-styles-2
          include slides/the-web-design-process/typography/base-typographic-styles/2
        section#headers-1
          include slides/the-web-design-process/typography/base-typographic-styles/headers/1
        section#headers-2
          include slides/the-web-design-process/typography/base-typographic-styles/headers/2
        section#headers-3
          include slides/the-web-design-process/typography/base-typographic-styles/headers/3
        section#typography-for-custom-components-1
          include slides/the-web-design-process/typography/typography-for-custom-components/1
        section#typography-for-custom-components-2
          include slides/the-web-design-process/typography/typography-for-custom-components/2
        section#typography-for-custom-components-3
          include slides/the-web-design-process/typography/typography-for-custom-components/3
        section#grid-1(data-background-image="/images/grid2.png")
          include slides/the-web-design-process/grid/1
        section#grid-2
          include slides/the-web-design-process/grid/2
        section#grid-3
          include slides/the-web-design-process/grid/3
        section#grid-4
          include slides/the-web-design-process/grid/4
        section#grid-5
          include slides/the-web-design-process/grid/5
        section#grid-6
          include slides/the-web-design-process/grid/6
        section#grid-7
          include slides/the-web-design-process/grid/7
        section#grid-8
          include slides/the-web-design-process/grid/8
        section#images-1
          include slides/the-web-design-process/images/1
        section#images-2
          include slides/the-web-design-process/images/2
        section#images-3
          include slides/the-web-design-process/images/3
        section#images-4
          include slides/the-web-design-process/images/4
        section#art-direction-1
          include slides/the-web-design-process/images/art-direction/1
        section#art-direction-2
          include slides/the-web-design-process/images/art-direction/2
        section#icons-1
          include slides/the-web-design-process/icons/1
        section#icons-2
          include slides/the-web-design-process/icons/2
        section#icons-3
          include slides/the-web-design-process/icons/3
        section#icons-4
          include slides/the-web-design-process/icons/4
        section#icons-5
          include slides/the-web-design-process/icons/5
        section#base-element-styles-1
          include slides/the-web-design-process/base-element-styles/1
        section#base-element-styles-2
          include slides/the-web-design-process/base-element-styles/2
        section#base-element-styles-3
          include slides/the-web-design-process/base-element-styles/3
        section#custom-components-1
          include slides/the-web-design-process/custom-components/1
        section#custom-components-2
          include slides/the-web-design-process/custom-components/2
        section#custom-components-3
          include slides/the-web-design-process/custom-components/3
        section#custom-components-4
          include slides/the-web-design-process/custom-components/4
        section#style-tiles-1
          include slides/the-web-design-process/style-tiles/1
        section#style-tiles-2
          include slides/the-web-design-process/style-tiles/2
        section#style-tiles-3
          include slides/the-web-design-process/style-tiles/3
        section#style-tiles-4
          include slides/the-web-design-process/style-tiles/4
        section#style-tiles-5
          include slides/the-web-design-process/style-tiles/5
        section#style-tiles-6
          include slides/the-web-design-process/style-tiles/6
        section#style-tiles-7
          include slides/the-web-design-process/style-tiles/7
        section#animation-1
          include slides/the-web-design-process/animation/1
        section#animation-2
          include slides/the-web-design-process/animation/2
        section#animation-3
          include slides/the-web-design-process/animation/3
        section#animation-4
          include slides/the-web-design-process/animation/4
        section#animation-5
          include slides/the-web-design-process/animation/5
        section#animation-6
          include slides/the-web-design-process/animation/6
        section#animation-7
          include slides/the-web-design-process/animation/7
        section#animation-8
          include slides/the-web-design-process/animation/8
        section#print-styles-1
          include slides/the-web-design-process/print-styles/1
        section#print-styles-2
          include slides/the-web-design-process/print-styles/2
        section#tools-1
          include slides/the-web-design-process/tools/1
        section#tools-2
          include slides/the-web-design-process/tools/2
        section#tools-3
          include slides/the-web-design-process/tools/3
        section#tools-4
          include slides/the-web-design-process/tools/4
        section#web-design-deliverables-1
          include slides/web-design-deliverables/1
        section#web-design-deliverables-2
          include slides/web-design-deliverables/2
        section#web-design-deliverables-3
          include slides/web-design-deliverables/3
        section#web-design-deliverables-4
          include slides/web-design-deliverables/4
        section#web-design-deliverables-5
          include slides/web-design-deliverables/5
        section#web-design-deliverables-6
          include slides/web-design-deliverables/6
        section#web-design-deliverables-7
          include slides/web-design-deliverables/7
        section#web-design-deliverables-8
          include slides/web-design-deliverables/8
        section#the-advantages-of-a-design-style-guide-1
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/1
        section#the-advantages-of-a-design-style-guide-2
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/2
        section#the-advantages-of-a-design-style-guide-3
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/3
        section#the-advantages-of-a-design-style-guide-4
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/4
        section#the-advantages-of-a-design-style-guide-5
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/5
        section#the-advantages-of-a-design-style-guide-6
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/6
        section#the-advantages-of-a-design-style-guide-7
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/7
        section#the-advantages-of-a-design-style-guide-8
          include slides/web-design-deliverables/the-advantages-of-a-design-style-guide/8
        section#web-design-pitfalls-1
          include slides/web-design-pitfalls/1
        section#web-design-pitfalls-2
          include slides/web-design-pitfalls/2
        section#language-and-communication-issues-1
          include slides/web-design-pitfalls/language-and-communication-issues/1
        section#language-and-communication-issues-2
          include slides/web-design-pitfalls/language-and-communication-issues/2
        section#language-and-communication-issues-3
          include slides/web-design-pitfalls/language-and-communication-issues/3
        section#large-high-fidelity-mockups
          include slides/web-design-pitfalls/large-high-fidelity-mockups/1
        section#why-full-page-mockups-are-bad-1
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/1
        section#why-full-page-mockups-are-bad-2
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/2
        section#why-full-page-mockups-are-bad-3
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/3
        section#why-full-page-mockups-are-bad-4
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/4
        section#why-full-page-mockups-are-bad-5
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/5
        section#why-full-page-mockups-are-bad-6
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/6
        section#why-full-page-mockups-are-bad-7
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/7
        section#why-full-page-mockups-are-bad-8
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/8
        section#why-full-page-mockups-are-bad-9
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/9
        section#why-full-page-mockups-are-bad-10
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/10
        section#why-full-page-mockups-are-bad-11
          include slides/web-design-pitfalls/large-high-fidelity-mockups/why-full-page-mockups-are-bad/11
        section#fixed-sizes-1
          include slides/web-design-pitfalls/fixed-sizes/1
        section#fixed-sizes-2
          include slides/web-design-pitfalls/fixed-sizes/2
        section#fixed-sizes-3
          include slides/web-design-pitfalls/fixed-sizes/3
        section#what-next-1
          include slides/what-next/1
        section#what-next-2
          include slides/what-next/2
        section#what-next-3
          include slides/what-next/3
        section#what-next-4
          include slides/what-next/4
        section#what-next-5
          include slides/what-next/5
        section#summary-1
          include slides/summary/1
        section#summary-2
          include slides/summary/2
        section#summary-3
          include slides/summary/3
        section#summary-4
          include slides/summary/4
        section#summary-5
          include slides/summary/5
        section#summary-6
          include slides/summary/6
        section#thanks
          include slides/summary/thanks/1
        section#how-to-contribute
          include slides/summary/how-to-contribute/1
        section#fin
          include slides/summary/fin/1
        
    script(src="main.min.js")