h3
  .u-subheader The Web Design Process
  | Typography - Base Typographic Styles

p As well as&nbsp;
  a(href="/#/font-styles-1", title="Go to the slide about font styles") font styles
  | , also consider margins and padding