h3
  .u-subheader The Web Design Process
  | Icons

p SVGs are:
ul
  li Easy to customise
  li Easy to style with CSS (e.g. change size, colour)
  li Scalable (the 'S' in 'SVG')
  li Good for performance because they can be included directly in the code 
    small (Remember, fewer external files =&nbsp;
      a(href="/#/performance-1", title="Go back to the slide about performance") better performance
      | )