h3 Thanks

ul
  li
    a(href="https://twitter.com/jakerocheleau", title="Follow Jake on Twitter") Jake Rocheleau
  li
    a(href="http://bradfrost.com/", title="Go to Brad Frost's website") Brad Frost
    | , for being so right, so often
  li
    a(href="http://daverupert.com/", title="Go to Dave Rupert's website") Dave Rupert

p This presentation was made with&nbsp;
  a(href="http://lab.hakim.se/reveal-js/", title="Go to the Reveal.JS website") Reveal.JS
  | &nbsp;by&nbsp;
  a(href="https://twitter.com/hakimel", title="Follow Hakimel on Twitter") @hakimel