h3
  .u-subheader The Web Design Process
  | Images - Art Direction

p CSS can give us lots of control over images!

p You
  em &nbsp;can&nbsp;
  | make these adjustments in Photoshop&hellip;

p &hellip;but it's faster and easier to change in the code!