h3
  .u-subheader Web Design Challenges
  | Pace of Change

p Change brings:

ul
  li new best practices
  li new possibilities
  li new constraints

p We must all be prepared to drop tools & techniques that we've invested time in&hellip;