h3
  .u-subheader Who Are We Designing For?
  | Developers

p Your 
  strong &nbsp;deliverables&nbsp;
  | are for the developers to use

p You need to give them what they need

p Developers need a
  strong &nbsp;design system