h3
  .u-subheader Who Are We Designing For?
  | Developers

p Developers need
  strong &nbsp;style guides
p This shows them what colours to use, how to handle typography, what all the components are and how each component behaves