h3
  .u-subheader What is Design?
  | So What is a Web Design?

p it's 
  strong interactive, not static
  
ul
  li web projects can be clicked, tapped, swiped, dragged, rotated, shaken, tilted, resized, projected, scrolled, turned&hellip;
  li more and more kinds of web-enabled devices increase the range of contexts and interactions