h3
  .u-subheader What is Design?
  | So What is a Web Design?

p it's 
  strong device & context agnostic
  
ul
  li devices have different sizes and different capabilities
  li internet connections vary
  li people may consume web content in many different kinds of situations