h3
  .u-subheader What is Design?
  | So What is a Web Design?

p it's 
  strong code

ul
  li HTML - the content
  li CSS - the styles/appearance

p
  small A sculptor's medium is clay and stone, a web designer's medium is HTML and CSS.

  .c-further-reading
    p Further reading: 
      a(href="https://developer.mozilla.org/", title="Go to the Mozilla Developer Network to learn about HTML &amp; CSS") MDN