h3
  .u-subheader Who Are We Designing For?
  | Machines

p Machines (e.g. search engine robots) also access the end product. For the web project to be machine-readable, the
  strong &nbsp;content&nbsp;
  | should have a clear
  strong &nbsp;hierarchy&nbsp;
  | and be contained in
  strong &nbsp;semantic markup