h3
  .u-subheader The Web Design Process
  | Typography - Baseline Grid

p It's difficult! Experiment & test!

blockquote
  small
    strong.u-uppercase Top tip
    | : when creating mockups, apply lines in the background in order to demonstrate the baseline grid

.c-further-reading
  p Further reading:
  ul
    li
      a(href="http://webdesign.tutsplus.com/articles/setting-web-type-to-a-baseline-grid--webdesign-3414", title="Learn more about baseline grids at Tutsplus") Setting web type to a baseline grid
    li
      a(href="https://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/", title="Learn more about baseline grids at Smashing Magazine") CSS Baseline: the Good, the Bad, and the Ugly